<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8">



</head>
<body>


<div th:fragment="div" id="emergency_plan_box" style="position:relative; ">
 



		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio"
			name="sex" value="北京市森林火灾扑救应急预案" title=""> 北京市森林火灾扑救应急预案<br>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio"
			name="sex" value="北京市沙尘暴灾害应急预案" title="" checked>北京市沙尘暴灾害应急预案<br>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio"
			name="sex" value="北京市突发陆生野生动物疫情应急预案" title="">北京市突发陆生野生动物疫情应急预案<br>
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="radio"
			name="sex" value="北京市园林绿化局空气重污染应急预案" title="">北京市园林绿化局空气重污染应急预案<br>

	</div></body>
</html>