<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">



</head>
<body>

<div th:fragment="div"  class="layui-side layui-bg-cyan">
    <div class="layui-side-scroll layui-bg-cyan "
         style="background-color: #393D49">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree layui-bg-cyan "
            style="background-color: #393D49" lay-filter="test" id ="leftside_ul">

            <!--layui-nav-itemed 加上默认打开-->
            <li class="layui-nav-item  "><a
                    style="font-size: 15px">资源查询统计</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a>绿地</a>
                    </dd>
                    <dd>
                        <a >古树名木</a>
                    </dd>
                    <dd>
                        <a >水体</a>
                    </dd>


                </dl></li>

            <li class="layui-nav-item  "><a
                    style="font-size: 15px">指标查询统计</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a>绿地指标</a>
                    </dd>
                    <dd>
                        <a>林业指标</a>
                    </dd>


                </dl></li>


        </ul>
    </div>
</div>
</body>
</html>