

<!DOCTYPE >
<html xmlns:th="http:/www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">



</head>
<body>

<div th:fragment="div" >
<div id="greentitleSelect_lhfg"
     style="position: absolute; z-index: 99999;top:70px ;right: 200px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.01);padding: 10px;color: white;display: none;">
    <table>

        <tbody>
        <tr>


            <td width="50" style="position:relative;left: -10px;"><input type="checkbox" id="vector_BJ_lhfg_layer" checked="checked"></td>
            <td style="position:relative;left: -10px">单位</td>
        </tr>
        <tr>


            <td width="50" style="position:relative;left: -10px;"><input type="checkbox" id="vector_BJ_lhfg_TB_layer">
            </td>
            <td style="position:relative;left: -10px">图斑</td>
        </tr>
        <tr>


            <td width="50" style="position:relative;left: -10px;"><input type="checkbox" id="vector_BJ_lhfg_JD_layer"
                                                                          ></td>
            <td style="position:relative;left: -10px">街道</td>
        </tr>


        </tbody>
    </table>
</div>
<div id="greentitleSelect_ldl"
     style="position: absolute; z-index: 99999;top:70px ;right: 200px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.01);padding: 10px;color: white;display: none;">
    <table>

        <tbody>
        <tr>


            <td width="50" style="position:relative;left: -10px;"><input type="checkbox" id="vector_BJ_ldl_layer" checked="checked"></td>
            <td style="position:relative;left: -10px">单位</td>
        </tr>
        <tr>


            <td width="50" style="position:relative;left: -10px;"><input type="checkbox" id="vector_BJ_ldl_TB_layer">
            </td>
            <td style="position:relative;left: -10px">图斑</td>
        </tr>
        <tr>


            <td width="50" style="position:relative;left: -10px;"><input type="checkbox" id="vector_BJ_ldl_JD_layer"
                                                                         ></td>
            <td style="position:relative;left: -10px">街道</td>
        </tr>


        </tbody>
    </table>
</div>



    <!--绿化专题图例、右侧栏 --------------------------------------------------->
    <!--绿视率图例栏-->
    <!--绿视率图例栏-->
    <!--绿视率图例栏-->
    <!--绿视率图例栏-->
    <!--绿视率图例栏-->
    <div id="green_rate_legend" class="legend"
         style="position: absolute; z-index: 99999;bottom: 10px;right: 10px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .15);padding: 10px;display: none;color: white;">
        <table>
            <thead>
            <tr>
                <th colspan="2">绿视率(单位:%)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="50"><i style="background:#B0E000"></i></td>
                <td>很好(>35%)</td>
            </tr>
            <tr>
                <td><i style="background:#FFAA01"></i></td>
                <td>较好(25%-35%)</td>
            </tr>
            <tr>
                <td><i style="background:#38A700"></i></td>
                <td>一般(15%-25%)</td>
            </tr>
            <tr>
                <td><i style="background:#FE0000"></i></td>
                <td>较差(0-15%)</td>
            </tr>

            </tbody>
        </table>
    </div>


    <!--绿化覆盖率图例栏-->
    <!--绿化覆盖率图例栏-->
    <!--绿化覆盖率图例栏-->
    <!--绿化覆盖率图例栏-->
    <!--绿化覆盖率图例栏-->
    <div id="BJ_lhfg_legend" class="legend"
         style="position: absolute; z-index: 99999;bottom: 10px;right: 10px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .15);padding: 10px;display: none;color: white;">
        <table>
            <thead>
            <tr>
                <th colspan="2">绿化覆盖率(单位:%)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="50"><i style="background:rgb(204,255,204)"></i></td>
                <td>0~10</td>
            </tr>
            <tr>
                <td><i style="background:rgb(164,245,157)"></i></td>
                <td>10~30</td>
            </tr>
            <tr>
                <td><i style="background:rgb(123,232,111)"></i></td>
                <td>30~60</td>
            </tr>
            <tr>
                <td><i style="background:rgb(77,217,67)"></i></td>
                <td>60~90</td>
            </tr>
            <tr>
                <td><i style="background:rgb(14,204,14)"></i></td>
                <td>90~400</td>
            </tr>


            </tbody>
        </table>
    </div>


    <!--人均公园图例栏-->
    <!--人均公园图例栏-->
    <!--人均公园图例栏-->
    <!--人均公园图例栏-->
    <!--人均公园图例栏-->
    <div id="BJ_RJ_legend" class="legend"
         style="position: absolute; z-index: 99999;bottom: 10px;right: 10px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .15);padding: 10px;display: none;color: white;">
        <table>
            <thead>
            <tr>
                <th colspan="2">人均公园面积(m<sup>2</sup>)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="50"><i style="background:rgb(251,253,250)"></i></td>
                <td>0.21~0.76</td>
            </tr>
            <tr>
                <td><i style="background:rgb(242,250,239)"></i></td>
                <td>0.76~0.95</td>
            </tr>
            <tr>
                <td><i style="background:rgb(227,244,223)"></i></td>
                <td>0.95~0.99</td>
            </tr>
            <tr>
                <td><i style="background:rgb(208,236,205)"></i></td>
                <td>0.99~1.43</td>
            </tr>
            <tr>
                <td><i style="background:rgb(185,225,186)"></i></td>
                <td>1.44~4.20</td>
            </tr>
            <tr>
                <td><i style="background:rgb(162,213,174)"></i></td>
                <td>4.20~6.66</td>
            </tr>
            <tr>
                <td><i style="background:rgb(145,197,162)"></i></td>
                <td>6.66~9.9</td>
            </tr>
            <tr>
                <td><i style="background:rgb(127,182,149)"></i></td>
                <td>9.9~33.91</td>
            </tr>
            <tr>
                <td><i style="background:rgb(127,161,141)"></i></td>
                <td>33.91~33.91</td>
            </tr>


            </tbody>
        </table>
    </div>
    <!--绿化覆盖率指标选中时显示东城区该指标的平均值-->
    <!--绿化覆盖率指标选中时显示东城区该指标的平均值-->
    <!--绿化覆盖率指标选中时显示东城区该指标的平均值-->
    <!--绿化覆盖率指标选中时显示东城区该指标的平均值-->
    <!--绿化覆盖率指标选中时显示东城区该指标的平均值-->
    <div id="BJ_lhfg_box" class="legend"
         style="position: absolute; z-index: 99999;top: 100px;right: 500px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .15);padding: 10px;display: none;color: white;">
        东城区绿化覆盖率为32.74%
    </div>
    <!--绿地率图例栏-->
    <!--绿地率图例栏-->
    <!--绿地率图例栏-->
    <!--绿地率图例栏-->
    <!--绿地率图例栏-->
    <div id="BJ_ldl_legend" class="legend"
         style="position: absolute; z-index: 99999;bottom: 10px;right: 10px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .15);padding: 10px;display: none;color: white;">
        <table>
            <thead>
            <tr>
                <th colspan="2">绿地率(单位:%)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="50"><i style="background:rgb(204,255,204)"></i></td>
                <td>0~7</td>
            </tr>
            <tr>
                <td><i style="background:rgb(164,245,157)"></i></td>
                <td>7~20</td>
            </tr>
            <tr>
                <td><i style="background:rgb(123,232,111)"></i></td>
                <td>20~40</td>
            </tr>
            <tr>
                <td><i style="background:rgb(77,217,67)"></i></td>
                <td>40~70</td>
            </tr>
            <tr>
                <td><i style="background:rgb(14,204,14)"></i></td>
                <td>70~100</td>
            </tr>


            </tbody>
        </table>
    </div>
    <div id="BJ_ldl_box" class="legend"
         style="position: absolute; z-index: 99999;top: 100px;right: 500px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .15);padding: 10px;display: none;color: white;">
         东城区绿地率为26.04%
    </div>



    <!--绿视率视屏栏-->
    <!--绿视率视屏栏-->
    <!--绿视率视屏栏-->
    <!--绿视率视屏栏-->
    <!--绿视率视屏栏-->
    <div id="greerate_r_box">
        <!--<img src="../images/monitor.png" />-->
        <!--<div class="se-area">-->
        <!--<div class="se-title">-->
        <!--站点监测信息-->
        <!--</div>-->
        <!--<div class="se-cont">-->

        <!--<table>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td colspan="2" style="text-align:center;">病虫害数</td>-->
        <!--<td colspan="2">野生动物数</td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td rowspan="3" colspan="2" style="font-size: 2rem;color: yellow;font-weight: 600;text-align: center" id="num1">9</td>-->
        <!--<td rowspan="3" colspan="2" style="font-size: 2rem;color: yellow;font-weight: 600" id="num2">111</td>-->
        <!--</tr>-->
        <!--<tr></tr>-->
        <!--<tr></tr>-->
        <!--<tr >-->
        <!--<td>指标A</td>-->
        <!--<td>912</td>-->
        <!--<td>指标E</td>-->
        <!--<td>319</td>-->
        <!--</tr>-->
        <!--<tr >-->
        <!--<td>指标B</td>-->
        <!--<td>12</td>-->
        <!--<td>指标F</td>-->
        <!--<td>83</td>-->
        <!--</tr>-->
        <!--<tr >-->
        <!--<td>指标C</td>-->
        <!--<td>244</td>-->
        <!--<td>指标G</td>-->
        <!--<td>93.5</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
        <div class="se-area">
            <div class="se-title">站点监测视频</div>
            <div class="se-cont">
                <video  width="100%" height="300px" controls="" autoplay="" loop=""  id="BJ_green84_video">
                    <source src="/data/lsl.mp4" type="video/mp4" id="BJ_green84_source">
                </video>
            </div>
        </div>
        <!--<div class="se-area">-->
        <!--<div class="se-title">-->
        <!--站点监测图表-->
        <!--</div>-->
        <!--<div class="se-cont" ></div>-->
        <!--</div>-->
    </div>




    <!--人均公园绿地-->
    <!--人均公园绿地-->
    <!--人均公园绿地-->
    <!--人均公园绿地-->
    <!--人均公园绿地-->
    <div id="BJ_RJ_layer_box" class="legend"
         style="position: absolute; z-index: 99999;top: 100px;right: 400px;background: rgba(0,0,0,.8); border-radius: 3px;box-shadow: 1px 1px 0 1px rgba(0, 0, 0, .15);padding: 10px;display: none;color: white;">
        东城区人均公园绿地面积为6.79m<sup>2</sup>
    </div>

</div>
</body>
</html>
